@import '../../styles/colors.scss';

@mixin flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin input-1 {
    display: flex;
            align-items: center;
            padding-left: 12px;
            padding-right: 12px;
            border: 1px solid #CACCCF;
            background-color: #FAFAFA;
            border-radius: 5px;
            height: 40px;
            flex-direction: row;
            justify-content: space-between;
}

.wrapperLogin {
    display: flex;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;


    .left {
        @include flex-center();
        align-items: center;
        background-image: url('../../assets/images/bgLogin.png');
        background-size: cover;

        .imgLogo {
            height: 250px;
            object-fit: cover;
        }

        .t1{
            color: $red;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
        }
        .t2{
            color: $primaryDark;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
        }
        .t3{
            color: $primaryDark;
            font-size: 20px;
            font-weight: 500;
            text-align: center;
        }
    }

    .right {
        @include flex-center();
        padding-left: 10vw;
        padding-right: 10vw;

        .title {
            text-align: start;
            font-weight: bold;
            font-size: 22px;
        }

        .subtitle {
            text-align: start;
        }

        .input {
            @include input-1();
        }

        .input-error {
            @include input-1();
            border: 1px solid $errorColor;
        }

        .input2 {
            border: none;
            outline: none;
            margin: 0;
            padding: 0;
            background-color: #FAFAFA;
        }

        .titleInputWrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .titleInput {
                font-weight: 500;
                text-align: start;
                margin: 0;
            }

            .txtAuthError {
                font-weight: 500;
                font-style: italic;
                font-size: 11px;
                margin: 0;
                text-align: right;
            }
        }


        .iconInput {
            color: $primarySoft;
        }

        .btn-login {
            border-radius: 5px;
            background-color: $primarySoft;
            color: white;
            border: none;
            height: 35px;
        }

        .cannot-login {
            cursor: pointer;
            color: $primarySoft;
            text-decoration: none;
            text-align: center;
        }

        .back-btn {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .txt-back {
            color: $primaryDark;
            font-weight: 500;
            font-size: 18px;
        }

        .btn-support {
            background-color: $grey;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

        }

        .txt-support {
            color: black;
            font-weight: 600;
            background-color: $grey;
            padding: 10px;
            border-radius: 3px;
        }
    }
}

