@import './colors.scss';
@import '../pages/login/login.scss';


.wrapper-page-check-first-login{
    padding: 30px;
    text-align: center;
    height: 100%;
    max-width: 700px;

    .lock-img{
        color: $primaryDark;
    }

    .txt-1{
        font-weight: bold;
        font-size: 22px;
    }

    .txt-2{
        font-size: 14px;
    }

    .form-input{
        margin: 0 auto;
        text-align: left;
        max-width: 410px;

        .btn-action{
            background: #5F764F;
            border-radius: 5px;
            width: 100%;
            height: 45px;
            min-width: 150px;
            border: none;
            color: #ffffff;
            font-weight: bold;
            font-size: 14px;
        }
    }

    .form-input-eye {
        @include input-1();
    }

    .input2 {
        border: none;
        outline: none;
        margin: 0;
        padding: 0;
        background-color: #FAFAFA;
    }

}