.c-layout{
    width: 100vw;
    height: 100vh;
}

.c-wrapper-content{
    display: flex;
    flex: 1 1;
    flex-direction: column;
    min-width: 0;
    min-height: 100vh;
    margin-left: 228px;
}

