@import './colors.scss';

.c-sidebar.c-sidebar-fixed{
    position: fixed;
    border: 0;
    z-index: 1030;
}

.c-sidebar{
    position: relative;
    display: flex;
    flex: 0 0 228px;
    flex-direction: column;
    width: 228px;
    box-shadow: 0;
    height: 100vh;
    z-index: 1030 !important;
    background-color: white;
    // padding: 40px 29px 0px 29px;
    // margin-bottom: 10px;


    .c-sidebar-brand{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 30px;
        // width: 170px;
        // overflow: hidden;

        .sidebar-brand-logo{
            width: 69px !important;
            min-width: 30px;
            height: 88px !important;
            box-sizing: border-box;
            margin-right: 10px;
        }

        .sidebar-brand-text{
            font-weight: bold;
            font-size: 12px;
            text-align: center;
            line-height: 15px;
        }
    }

    .sidebar-nav {
        position: relative;
        display: flex;
        flex: 1 1;
        flex-direction: column;
        padding: 0;
        margin-bottom: 0;
        overflow-x: hidden;
        overflow-y: auto;
        list-style: none;
        margin-top: 50px;
        margin: 50px 30px 0px 30px;

        .sidebar-nav-item{
            width: inherit;
            text-decoration: none;

            .sidebar-nav-link{
                display: flex;
                flex: 1 1;
                align-items: center;
                text-decoration: none;
                white-space: nowrap;
                list-style: none;
                color: #5F764F;
                font-size: 15px;
                font-weight: normal;

                padding: 10px 20px;
                border-radius: 5px;
                border: 1px solid #5F764F;
                margin-bottom: 10px;

                .sidebar-nav-link-img{
                    margin-right: 20px;
                }
            }
        }
    }

    .c-sidebar-logout{
        font-weight: bold;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        // width: 120px;
        text-align: center;
        vertical-align: bottom;
        background-color: white;
        padding: 10px;
        color: $errorColor;
        background-image: url('../assets/images/bgLogin2.png');
        background-size: cover;
        height: 200px;

        padding-bottom: 40px;

        .txt-logout {
            vertical-align: bottom;
            background-color: white;
            padding: 5px 30px 5px 30px;
            border: 2px solid $errorColor;
            border-radius: 50px;
        }

    }



}
