.txtWelcome {
    font-size: 24px;
    font-weight: 500;
    text-align: start;
}

.wrapperGraph {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 300px;

    .graph {
        padding: 20px;
        border-radius: 5px;
        background-color: #fafafa;
        border: 1px solid #e8e8e8;
        height: 100%;
        max-width: 55vw;

        .graph-header {
            width: 100%;
            display: inline-flex;
            flex-wrap: wrap;
            align-self: flex-start;
            justify-content: space-between;
            margin-bottom: 20px;

            .title {
                display: flex;
                font-size: 16px;
                font-weight: bold;
            }

            .select-year {
                display: flex;
                justify-content: flex-end;
                margin-left: auto;
            }

            .classes {
                border: none;
                background: #fafafa;
                outline: none;
            }
        }

        .graph-content {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;

            canvas {
                max-height: 220px;
                max-width: 630px;
            }
        }
    }

    .cardRekap {
        // width: 410px;
        width: 100%;
        padding: 20px;
        border-radius: 5px;
        background-color: #fafafa;
        border: 1px solid #e8e8e8;
        height: 100%;

        .titleRekap {
            text-align: start;
            font-weight: bold;
            margin-bottom: 50px;
        }

        .infoRekap {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .subtitleRekap {
            font-weight: 300;
            font-size: 16px;
        }

        .valueRekap {
            font-weight: bold;
            font-size: 16px;
        }
    }
}

.wrapperSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .titleSection {
        font-size: 16px;
        font-weight: bold;
    }

    .dateSection {
        display: flex;
        flex-direction: row;

        .txtLastUpdate {
            font-style: italic;
            font-size: 12px;
        }

        .txtValueLastUpdate {
            font-weight: 600;
            color: #25282b;
            font-size: 12px;
        }
    }
}
