@import '../../styles/colors.scss';

@mixin btn-modal {
    width: 150px;
    height: 40px;
    border-radius: 3px;
    border: none;
    font-weight: bold;
}

.modal-content {
    border: none;
}

.wrapperModal {
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 40vh;

    .titleModal {
        font-weight: bold;
        font-size: 16px;
    }

    .descModal {
        font-weight: 400;
        font-size: 16px;
        text-align: center;
    }

    .footerModal {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;

        .btn-modal-yes-green {
            @include btn-modal();
            background-color: $primarySoft;
            color: white;
        }

        .btn-modal-yes-red {
            @include btn-modal();
            background-color: $errorColor;
            color: white;
        }

        .btn-modal-no {
            @include btn-modal();
            background-color: white;
            color: $errorColor;
        }
    }
}

.wrapperFilter-date {
    // max-width: 160px;
    z-index: 100;
    height: 35px;
    padding: 0px 10px;
    border: 1px solid #8ba577;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center;
    justify-content: center;

    .filter-date {
        // width: 100% !important;
        max-width: 100px;
        height: 30px;
        padding: 10px 20px 10px 20px;
        // border: 1px solid #8BA577;
        outline: none;
        border: none;
        border-radius: 3px;
        align-self: center;
    }

    .react-datepicker__tab-loop .react-datepicker-popper {
        margin-left: -300px !important;

        .react-datepicker__triangle {
            left: 370px !important;
        }
    }

    .date-code-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #f0f0f0;
        position: absolute;
        left: -105px;
        height: 235px;
        max-height: 235px;
        padding: 15px 15px;
        border: 1px solid #768e7c;
        border-radius: 3px;

        .date-code {
            cursor: pointer;
            padding: 4px;
            border-radius: 3px;
        }
    }
}

.c-modal-del {
    max-width: 450px;
    padding: 0 !important;

    .modal-del-body {
        text-align: center;
        padding: 30px !important;

        .modal-del-body-header {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 15px;
        }

        .modal-del-body-content {
            font-weight: normal;
            font-size: 16px;
            margin-bottom: 50px;
        }

        .modal-del-body-action {
            display: inline-flex;
            align-items: center;
            flex-wrap: wrap;

            .apply {
                @include btn-modal();
                background-color: $errorColor;
                color: white;
            }

            .cancel {
                @include btn-modal();
                background-color: white;
                color: $black;
                cursor: auto;
            }
        }
    }
}

.c-modal-export {
    max-width: 515px;
    padding: 0 !important;

    .modal-export-body {
        text-align: left;
        padding: 50px !important;
        color: $black;

        .modal-export-body-header {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 40px;
        }

        .modal-export-body-content {
            width: 100%;
            margin-bottom: 90px;

            .form-group {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                margin-bottom: 20px;

                .text {
                    font-size: 14px;
                    flex: 1;
                }

                .input {
                    flex: 1;
                    font-weight: bold;
                    border: 1px solid #8ba577;
                    border-radius: 3px;
                    text-align: center;
                    padding: 5px;
                    max-width: 160px;
                    outline: none;
                    font-size: 12;
                }

                .wrapper-select-date {
                    flex: 1;
                    max-width: 160px;
                    display: flex;

                    .select-date {
                        border: 1px solid #8ba577;
                        border-radius: 3px;
                        max-width: 160px;
                        outline: none;
                        padding: 10px;
                        font-size: 12;
                        text-indent: 30px;
                    }

                    .react-datepicker__tab-loop
                        .react-datepicker-popper
                        .react-datepicker {
                        margin-left: -290px;
                    }

                    .react-datepicker__tab-loop
                        .react-datepicker-popper
                        .react-datepicker
                        .react-datepicker__triangle {
                        left: 370px !important;
                    }
                }
            }
        }

        .modal-export-body-action {
            width: 100%;
            display: inline-flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;

            .apply {
                @include btn-modal();
                background-color: $primaryDark;
                color: white;
                border-radius: 213px;
                font-weight: 600 !important;
                font-size: 12px !important;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }

            .cancel {
                @include btn-modal();
                background-color: white;
                color: $errorColor;
                cursor: auto;
                font-weight: 600 !important;
                font-size: 12px !important;
            }
        }
    }
}

.c-modal-view-pdf {
    max-width: 60vw;
    padding: 0 !important;

    .modal-view-body {
        text-align: left;
        padding: 50px !important;
        color: $black;

        .modal-view-body-header {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 40px;

            // display: flex;
            // flex-direction: row;
            // align-items: center;
            // justify-content: space-between;
        }

        .modal-view-body-content {
            width: 100%;
            margin-bottom: 90px;

            .form-group {
                display: flex;
                // flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 20px;

                .text {
                    font-size: 14px;
                    // flex: 1;
                }

                .input {
                    flex: 1;
                    font-weight: bold;
                    border: 1px solid #8ba577;
                    border-radius: 3px;
                    text-align: center;
                    padding: 5px;
                    max-width: 320px;
                    outline: none;
                    font-size: 12;
                }

                .filenameInput {
                    // flex: 1;
                    font-weight: bold;
                    border: 1px solid #8ba577;
                    border-radius: 3px;
                    text-align: center;
                    padding: 5px;
                    max-width: 320px;
                    outline: none;
                    font-size: 12;
                }

                .wrapper-select-date {
                    flex: 1;
                    max-width: 160px;
                    display: flex;

                    .select-date {
                        border: 1px solid #8ba577;
                        border-radius: 3px;
                        max-width: 160px;
                        outline: none;
                        padding: 10px;
                        font-size: 12;
                        text-indent: 30px;
                    }

                    .react-datepicker__tab-loop
                        .react-datepicker-popper
                        .react-datepicker {
                        margin-left: -290px;
                    }

                    .react-datepicker__tab-loop
                        .react-datepicker-popper
                        .react-datepicker
                        .react-datepicker__triangle {
                        left: 370px !important;
                    }
                }
            }
        }

        .modal-view-body-action {
            width: 100%;
            display: inline-flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;

            .apply {
                @include btn-modal();
                background-color: $primaryDark;
                color: white;
                border-radius: 213px;
                font-weight: 600 !important;
                font-size: 12px !important;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                width: 250px;
            }

            .cancel {
                @include btn-modal();
                background-color: white;
                color: $errorColor;
                cursor: auto;
                font-weight: 600 !important;
                font-size: 12px !important;
            }
        }
    }
}
