@import '../../styles/colors.scss';

@mixin btn-modal {
    width: 150px;
    height: 40px;
    border-radius: 3px;
    border: none;
    font-weight: bold;
}

.wrapperModal {
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 40vh;


    .titleModal {
        font-weight: bold;
        font-size: 16px;
    }

    .descModal {
        font-weight: 400;
        font-size: 16px;
        text-align: center;
    }

    .footerModal {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;

        .btn-modal-yes-green {
            @include btn-modal();
            background-color: $primarySoft;
            color: white;
        }

        .btn-modal-yes-red {
            @include btn-modal();
            background-color: $errorColor;
            color: white;
        }

        .btn-modal-no {
            @include btn-modal();
            background-color: white;
            color: $errorColor;
        }
    }
}


.c-modal-del {
    max-width: 450px;
    padding: 0 !important;


    .modal-del-body{
        text-align: center;
        padding: 30px !important;

        .modal-del-body-header{
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 15px;
        }

        .modal-del-body-content{
            font-weight: normal;
            font-size: 16px;
            margin-bottom: 50px;
        }

        .modal-del-body-action{
            display: inline-flex;
            align-items: center;
            flex-wrap: wrap;

            .apply{
                @include btn-modal();
                background-color: $errorColor;
                color: white;
                
            }

            .cancel{
                @include btn-modal();
                background-color: white;
                color: $black;
                cursor: auto;
            }
            
        }
    }
}

.c-modal-export {
    max-width: 515px;
    padding: 0 !important;

    .modal-export-body{
        text-align: left;
        padding: 50px !important;
        color: $black;

        .modal-export-body-header{
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 40px;
        }

        .modal-export-body-content{
            width: 100%;
            margin-bottom: 90px;

            .form-group{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                margin-bottom: 20px;

                .text{
                    font-size: 14px;
                    flex: 1;
                }

                .input{
                    flex: 1;
                    font-weight: bold;
                    border: 1px solid #8BA577;
                    border-radius: 3px;
                    text-align: center;
                    padding: 10px;
                    max-width: 160px;
                    outline: none;
                    font-size: 12;
                }

                .wrapper-select-date{
                    flex: 1;
                    max-width: 160px;
                    display: flex;
                    
                    .select-date{
                        border: 1px solid #8BA577;
                        border-radius: 3px;
                        max-width: 160px;
                        outline: none;
                        padding: 10px;
                        font-size: 12;
                        text-indent: 30px;
                    }

                    .react-datepicker__tab-loop .react-datepicker-popper .react-datepicker{
                        margin-left: -290px;
                    }

                    .react-datepicker__tab-loop .react-datepicker-popper .react-datepicker .react-datepicker__triangle {
                        left: 370px !important;
                    }
                }
            }
        }

        .modal-export-body-action{
            width: 100%;
            display: inline-flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;

            .apply{
                @include btn-modal();
                background-color: $primaryDark;
                color: white;
                border-radius: 213px;
                font-weight: 600 !important;
                font-size: 12px !important;
            }

            .cancel{
                @include btn-modal();
                background-color: white;
                color: $errorColor;
                cursor: auto;
                font-weight: 600 !important;
                font-size: 12px !important;
            }
            
        }
    }
}